<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- https://myget.org/gallery/aspnetcidev -->
    <!-- http://stackoverflow.com/a/34933925/23562 -->
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
  </packageSources>
</configuration>